/*Regla 1: Utilizar el selector universal * para cambiar el tipo de fuente del documento */
*{
    font-family: "Open Sans";   

}

/*Regla 2. El elemento body tendrá margen 0 y relleno de 20% únicamente a la derecha y izquierda*/
body {
    margin: 0;
    padding: 0 20%;
}

/*Regla 3. Los elementos h1 estarán subrayados (text-decoration: underline;), de color darkcyan y alineados al centro/ Pongo un id, para que solo le afecte al h1, si tuviera que afectar a mas de un H1 utilizaria un class.*/
#h1selectors{
    text-decoration: underline;
    color: darkcyan;
    text-align: center; 
}   

/*Regla 4. Los elementos con clase selector tendrán color lightcyan*/
.selector{
    color: lightcyan;
}

/* Regla 5. Los elementos con clase selectors tendrán un relleno de 5%, un border: solid darkcyan 1px; y esquinas redondeadas border-radius con valor de 5px */
.selectors {
    padding: 5%;
    border: 1px solid darkcyan;
    border-radius: 5px;
}

/*Regla 6. Los elementos con identificador (id) universal tendrán color lightgoldenrodyellow*/
#universal{
  color: lightgoldenrodyellow;
}

/*Regla 7. Los elementos h2 con clase selector y los elementos h2 con identificador (id) universal tendrán color de fondo darkcyan, relleno de 1% y esquinas redondeadas con valor de 5px*/
.selector,#universal {
    background-color: darkcyan;
    padding: 1%;
    border-radius: 5px;
}

/*Regla 8. Los elementos span tendrán font-weight: 900; color de fondo negro y color de texto blanco*/
span {
    font-weight: 900;
    background-color: black;
    color: white;
}

/*Regla 9. Los elementos a que sean hijos directos de algún li tendrán text-decoration: none*/
li > a {
    text-decoration: none;
}

/*Regla 10. Los elementos h3 tendrán color de fondo background-color: rgba(0, 139, 139, 0.529);, relleno de 0.5px y esquinas redondeadas con valor de 5px*/
h3{
     background-color: rgba(0, 139, 139, 0.529);
     padding: 0.5px;
     border-radius: 5px;
}

/*Regla 11. Los elementos div que sean descendientes de un elemento con id "gallery" tendrán un ancho width de 100%*/
#gallery{
    width: 100%;
}


/* Regla 12. Los elementos img tendrán un ancho width de 100%, un border: solid darkcyan 1px; y esquinas redondeadas con valor de 5px */
img{
    width: 100%;
    border: 1px solid darkcyan;
    border-radius: 5px;
}

/* TABLA BONUS */
.tabla_bonus {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid darkcyan;   /* borde color darkcyan */
    border-radius: 6px;          /* Bordes redondeados */
    overflow: hidden;            /* La tabla mantiene las esquinas redondeadas */
    font-size: 16px;
    background-color: white;
}
.tabla_bonus th {
    background-color: #ffffff;
    font-weight: 900;
    padding: 12px;
    border-bottom: 2px solid #d0d3d6;
}

.tabla_bonus td {
    padding: 12px;
    border-bottom: 1px solid #d0d3d6;
}



.color_gris_filas{
    background-color: rgba(160, 160, 160, 0.83)  ;
}

.tabla_bonus a {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}



